/* main css */
html, body {
  background-color: #27187E;
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 1.6rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  line-height: 2.1rem;
}

/* base link style */
a {
  background-color: #27187E;
  color: #F1F2F6;
  line-height: 3.5rem;
  padding: .75rem;
  border-radius: .4rem;
  text-decoration: none;
}
a:hover, a:active {
  background-color: #3e2d9c;
}

/* code block */
pre {
  background-color: #758BFD;
  padding: 1rem;
  border-radius: 0.4rem;
  line-height: 1.5rem;
  margin: 1rem;
}
code {
  background-color: #F1F2F6;
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
}

/* blockquote */
blockquote {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #F1F2F6;
  border-left: .5rem solid #758BFD;
}

img {
  margin: 1rem 0;
}

table {
  max-width: 100%;
  min-width: 60%;
  border-collapse: collapse;
}
th, td {
  padding: .3rem;
  text-align: left;
  border: .1rem solid #27187E;
}
th {
  background-color: #758BFD;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  gap: 3rem;
}

/* End Main CSS */

/* Editor and Preview Styles */
#editor, #preview {
  width: 100%;
  padding: 1.5rem;
  color: #27187E;
  border-radius: 0.5rem;
}

/* Editor styles */
#editor {
  height: 20rem;
  background-color: #F1F2F6;
  font-size: 1rem;
  border: 4px solid #AEB8FE;
}

/* Previe styles */
#preview {
  border: 4px solid #F1F2F6;
  background-color: #AEB8FE;
  min-height: 35rem;
}